<% @tweets.each do | tweet | %>
	<div class="box">
		<article class="media">
			<div class="media-left">
				<figure class="image is-64x64">
					<%= link_to image_tag(tweet.user.avatar_thumbnail), profile_path(user_id: tweet.user.id) %>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<strong><%= link_to tweet.user.name, profile_path(user_id: tweet.user.id) %> </strong>
					<small><%= link_to '@'+tweet.user.username, profile_path(user_id: tweet.user.id) %> . </small> 
					<small><%= time_ago_in_words tweet.created_at %> ago</small><br />
					<% @tweet = tweet %>
					<p><%= render 'hash_and_at' %></p>
					<% if tweet.image.attached? %>
						<%= image_tag tweet.image, style: "width: 450px; display: block" %><br>
					<% end %>
					
					<div style="display:flex; width:200px; justify-content:space-evenly; align-items: center;">
						<%= link_to "#{Tweet.where(parent_id: tweet.id).count} Replies", tweet_path(tweet) %>
						<% if user_signed_in? %>
							<% like = current_user.likes.find_by(tweet: tweet) %>
							<% if like.nil? %>
								<%= button_to  likes_path, params: {like: {tweet_id: tweet.id }}, method: :post do %>
									<span class="icon"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
								<% end %>
							<% else %>
								<%= button_to  like_path(like), method: :delete do %>
									<span class="icon"><i class="fa fa-heart" aria-hidden="true"></i></span>
								<% end %>
							<% end %>
						<% end %>
						<%= link_to "#{tweet.likes.count} Likes",  "/tweets/likes/#{tweet.id}" %>
					</div>
				</div>
			</div>
		</article>
	</div>
<% end %>
