<section class="section">
  <div class="container">
    <div class="columns">
      <div style="display:flex; flex-direction:column">
        <%= render 'profile' %>
        <%= render 'trends' %>
      </div>
       
    <div class="column is-half">
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                <div class="column is-4">
                    
                <h2 class="title is-4"> <%= "Followers list of " %><span><%= @user.name %> </span></h2>
                <% @followers_list.each do | user | %>
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <%= image_tag(user.avatar_thumbnail) %>
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><%= link_to user.name, profile_path(user_id: user.id) %></strong><br />
                                    <%= link_to '@'+user.username, profile_path(user_id: user.id)%>
                                </p>
                            </div>
                        </div>
                        <div></div>
                        <div>
                            <div class="media-right">
                                <% if user_signed_in? && current_user != user %>
                                    <% if !current_user.following?(user) %>
                                        <%= button_to "Follow", friendships_path(user_id: user.id) %>
                                    <% else %>
                                        <%= button_to "Unfollow", friendships_path(user_id: user.id), method: :delete %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </article>
                <% end %>
                </div>
                </div>
            </div>
        </section>
    </div>
  </div>
</section
